@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>SEMOP</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a SEMOP Santa Cruz</h2>
        <p>
            Secretaría Municipal de Obras Públicas Comprometidos con nuestros vecinos, trabajamos bajo la premisa del
            mejor alcalde del país: elevar la calidad de vida de nuestra gente en los quince distritos que conforman
            nuestra ciudad, a través de grandes obras, desconcentrando los servicios y proyectando una ciudad
            moderna para que el beneficio del desarrollo sea integral y real para todos.
            La Secretaría Municipal de obras públicas, es la responsable de planificar, elaborar estudios a diseño
            final y ejecutar obras, apoyando el proceso de descentralización sobre la base de los distritos convertidos
            en sub alcaldías.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>
            Gestionar el diseño, elaboración, construcción, ejecución, supervisión, fiscalización y
            mantenimiento de la infraestructura vial urbana y de comunidades aledañas, así mismo, el
            diseño y construcción del sistema de drenaje de aguas pluviales en nuestra ciudad; mediante la
            ejecución directa o mixta a través de empresas privadas.
        </p>
        <p>
            Atender la demanda vecinal de pavimentación de calles y avenidas de la Ciudad y de las
            comunidades aledañas en función a una coordinación previa con las organizaciones de
            control social como Sub Alcaldías, Comité de Vigilancia, Dirigencia de Juntas Vecinales.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>
            Contribuir en la construcción de una ciudad moderna y amigable con sus vecinos. Recuperar,
            fortalecer y avanzar en la gestión de obras y servicios de Infraestructura vial y sistemas
            de drenajes para sus aguas pluviales. Ser un ente que contribuya con el desarrollo económico,
            social y cultural de su país, promoviendo la equidad, calidad de vida e igualdad de
            oportunidades para sus vecinos.
        </p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Ver más &raquo;</a></p>
    </div>
</div>

