@{
    ViewBag.Title = "Sub Alcaldias";
}


<h3>@ViewBag.Title</h3>

<div id="page-subalcaldias">

    <div class="row">
        <div class="col-xs-9 col-sm-3 spacer-component">
            <div class="input-group">
                <p>
                    @Html.ActionLink("Crear Nuevo", "Crear")
                </p>
            </div>
        </div>
    </div>

</div>
